In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
cars = pd.read_csv('data/cars.csv')

In [3]:
brand = pd.read_csv('data/brand.csv')

# cars.csv와 brand.csv의 데이터 합치기

In [4]:
car = pd.concat([cars, brand])

In [5]:
car.corr()

,Price,Mileage(miles),Registration_Year,Previous Owners,Doors,Seats
Price,1.000000,-0.500358,0.722971,-0.479424,0.113335,-0.027393
Mileage(miles),-0.500358,1.000000,-0.410781,0.316160,-0.037024,0.095271
Registration_Year,0.722971,-0.410781,1.000000,-0.501045,0.219365,0.037166
Previous Owners,-0.479424,0.316160,-0.501045,1.000000,-0.153262,-0.029338
Doors,0.113335,-0.037024,0.219365,-0.153262,1.000000,0.497160
Seats,-0.027393,0.095271,0.037166,-0.029338,0.497160,1.000000

# 국가별 총 브랜드 개수는?!

In [6]:
car.groupby('country')['title'].nunique()

country
Czech Republic     1
France             4
Germany            6
Italy              4
Japan             11
Malaysia           1
Romania            1
South Korea        4
Spain              1
Sweden             2
United Kingdom     8
United States      5
Name: title, dtype: int64

In [7]:
car.isna().mean()

title                0.000000
Price                0.012851
Mileage(miles)       0.012851
Registration_Year    0.012851
Previous Owners      0.390629
Fuel type            0.012851
Body type            0.012851
Engine               0.024900
Gearbox              0.012851
Doors                0.019545
Seats                0.022222
Emission Class       0.036145
Service history      0.855422
country              0.987149
dtype: float64

In [8]:
car.dtypes

title                 object
Price                float64
Mileage(miles)       float64
Registration_Year    float64
Previous Owners      float64
Fuel type             object
Body type             object
Engine                object
Gearbox               object
Doors                float64
Seats                float64
Emission Class        object
Service history       object
country               object
dtype: object

In [9]:
car.describe()

,Price,Mileage(miles),Registration_Year,Previous Owners,Doors,Seats
count,3687.000000,3.687000e+03,3687.000000,2276.000000,3662.000000,3652.000000
mean,5787.301058,8.132854e+04,2011.846216,2.807557,4.321409,4.900329
std,4480.629885,3.941718e+04,5.082387,1.546028,0.986760,0.577046
min,400.000000,1.000000e+00,1953.000000,1.000000,2.000000,2.000000
25%,2490.000000,5.698400e+04,2008.000000,2.000000,3.000000,5.000000
50%,4000.000000,8.000000e+04,2012.000000,3.000000,5.000000,5.000000
75%,7995.000000,1.030000e+05,2015.500000,4.000000,5.000000,5.000000
max,33900.000000,1.110100e+06,2025.000000,9.000000,5.000000,7.000000

In [10]:
car.head()

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history,country
0,SKODA FABIA,6900.0,70189.0,2016.0,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,NaN,NaN
1,VAUXHALL CORSA,1495.0,88585.0,2008.0,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full,NaN
2,HYUNDAI I30,949.0,137000.0,2011.0,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,NaN,NaN
3,MINI HATCH,2395.0,96731.0,2010.0,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full,NaN
4,VAUXHALL CORSA,1000.0,85000.0,2013.0,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,NaN,NaN

# 카테고리형 변수를 숫자 형태로 변환하기

In [11]:
pd.set_option('display.max_columns', 50)

In [12]:
pd.get_dummies(car, columns = ['Engine'])

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Gearbox,Doors,Seats,Emission Class,Service history,country,Engine_0.8L,Engine_0.9L,Engine_1.0L,Engine_1.1L,Engine_1.2L,Engine_1.3L,Engine_1.4L,Engine_1.5L,Engine_1.6L,Engine_1.7L,Engine_1.8L,Engine_1.9L,Engine_2.0L,Engine_2.1L,Engine_2.2L,Engine_2.3L,Engine_2.4L,Engine_2.5L,Engine_2.6L,Engine_2.7L,Engine_2.8L,Engine_3.0L,Engine_3.1L,Engine_3.2L,Engine_3.3L,Engine_3.5L,Engine_3.7L,Engine_4.2L,Engine_4.3L,Engine_4.4L,Engine_4.8L,Engine_5.0L,Engine_5.5L,Engine_6.3L
0,SKODA FABIA,6900.0,70189.0,2016.0,3.0,Diesel,Hatchback,Manual,5.0,5.0,Euro 6,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,VAUXHALL CORSA,1495.0,88585.0,2008.0,4.0,Petrol,Hatchback,Manual,3.0,5.0,Euro 4,Full,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,HYUNDAI I30,949.0,137000.0,2011.0,NaN,Petrol,Hatchback,Manual,5.0,5.0,Euro 5,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,MINI HATCH,2395.0,96731.0,2010.0,5.0,Petrol,Hatchback,Manual,3.0,4.0,Euro 4,Full,NaN,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,VAUXHALL CORSA,1000.0,85000.0,2013.0,NaN,Diesel,Hatchback,Manual,5.0,5.0,Euro 5,NaN,NaN,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,marcos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
44,maserati,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italy,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45,ssangyong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Korea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46,lagonda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
47,isuzu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Japan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
pd.get_dummies(car, columns = ['Emission Class'])

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Service history,country,Emission Class_Euro 1,Emission Class_Euro 2,Emission Class_Euro 3,Emission Class_Euro 4,Emission Class_Euro 5,Emission Class_Euro 6
0,SKODA FABIA,6900.0,70189.0,2016.0,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,NaN,NaN,0,0,0,0,0,1
1,VAUXHALL CORSA,1495.0,88585.0,2008.0,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Full,NaN,0,0,0,1,0,0
2,HYUNDAI I30,949.0,137000.0,2011.0,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,NaN,NaN,0,0,0,0,1,0
3,MINI HATCH,2395.0,96731.0,2010.0,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Full,NaN,0,0,0,1,0,0
4,VAUXHALL CORSA,1000.0,85000.0,2013.0,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,NaN,NaN,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,marcos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,0,0,0,0,0,0
44,maserati,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italy,0,0,0,0,0,0
45,ssangyong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Korea,0,0,0,0,0,0
46,lagonda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,0,0,0,0,0,0
47,isuzu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Japan,0,0,0,0,0,0

In [14]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3735 entries, 0 to 47
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              3735 non-null   object
 1   Price              3687 non-null   float64
 2   Mileage(miles)     3687 non-null   float64
 3   Registration_Year  3687 non-null   float64
 4   Previous Owners    2276 non-null   float64
 5   Fuel type          3687 non-null   object
 6   Body type          3687 non-null   object
 7   Engine             3642 non-null   object
 8   Gearbox            3687 non-null   object
 9   Doors              3662 non-null   float64
 10  Seats              3652 non-null   float64
 11  Emission Class     3600 non-null   object
 12  Service history    540 non-null    object
 13  country            48 non-null     object
dtypes: float64(6), object(8)
memory usage: 437.7+ KB

In [15]:
car.isna().sum()

title                   0
Price                  48
Mileage(miles)         48
Registration_Year      48
Previous Owners      1459
Fuel type              48
Body type              48
Engine                 93
Gearbox                48
Doors                  73
Seats                  83
Emission Class        135
Service history      3195
country              3687
dtype: int64

In [16]:
noengine_car = car[car['Engine'].isna()]

In [17]:
noengine_car

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history,country
679,BMW 3 SERIES,4200.0,68060.0,2007.0,1.0,Petrol,Saloon,NaN,Automatic,NaN,NaN,NaN,Full,NaN
835,TOYOTA MARK X,7500.0,77000.0,2021.0,3.0,Petrol,Saloon,NaN,Automatic,NaN,NaN,NaN,NaN,NaN
856,NISSAN CUBIC,4500.0,47000.0,2007.0,3.0,Petrol,Hatchback,NaN,Manual,NaN,NaN,NaN,NaN,NaN
1087,AUDI A1,7995.0,50500.0,2012.0,NaN,Petrol,Hatchback,NaN,Automatic,3.0,4.0,NaN,NaN,NaN
1304,MAZDA MAZDA6,1500.0,155670.0,2015.0,1.0,Diesel,Estate,NaN,Manual,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,marcos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom
44,maserati,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italy
45,ssangyong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Korea
46,lagonda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom
47,isuzu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Japan

In [18]:
car_fill = car['Service history'].fillna('Unknown', inplace=True)

In [19]:
car

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history,country
0,SKODA FABIA,6900.0,70189.0,2016.0,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,Unknown,NaN
1,VAUXHALL CORSA,1495.0,88585.0,2008.0,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full,NaN
2,HYUNDAI I30,949.0,137000.0,2011.0,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,Unknown,NaN
3,MINI HATCH,2395.0,96731.0,2010.0,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full,NaN
4,VAUXHALL CORSA,1000.0,85000.0,2013.0,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,Unknown,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,marcos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,United Kingdom
44,maserati,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Italy
45,ssangyong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,South Korea
46,lagonda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,United Kingdom
47,isuzu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Japan

In [20]:
threshold_nan = 3

In [21]:
car = car.dropna(thresh = car.shape[1] - 3)

In [22]:
car

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history,country
0,SKODA FABIA,6900.0,70189.0,2016.0,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,Unknown,NaN
1,VAUXHALL CORSA,1495.0,88585.0,2008.0,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full,NaN
2,HYUNDAI I30,949.0,137000.0,2011.0,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,Unknown,NaN
3,MINI HATCH,2395.0,96731.0,2010.0,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full,NaN
4,VAUXHALL CORSA,1000.0,85000.0,2013.0,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,Unknown,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3682,RENAULT MEGANE,1395.0,76202.0,2006.0,4.0,Petrol,Hatchback,1.6L,Manual,5.0,5.0,Euro 4,Unknown,NaN
3683,AUDI A4,6990.0,119000.0,2012.0,NaN,Petrol,Saloon,2.0L,Manual,4.0,5.0,Euro 5,Unknown,NaN
3684,BMW 3 SERIES,3995.0,139000.0,2013.0,NaN,Diesel,Saloon,2.0L,Manual,4.0,5.0,Euro 5,Unknown,NaN
3685,HONDA ACCORD,1390.0,179190.0,2007.0,NaN,Diesel,Estate,2.2L,Manual,5.0,5.0,Euro 4,Full,NaN
3686,VAUXHALL CORSA,2000.0,82160.0,2013.0,7.0,Petrol,Hatchback,1.2L,Manual,5.0,5.0,Euro 5,Unknown,NaN

# 스케일링 (Scaling)

In [23]:
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

In [24]:
ss = StandardScaler()
rs = RobustScaler()
mm = MinMaxScaler()

In [25]:
car_na = car.drop(columns = ['title'])

In [26]:
car_hot = pd.get_dummies(car, columns = ['title', 'Fuel type','Body type','Engine','Gearbox','Emission Class','Service history','country'])

In [27]:
ss.fit(car_hot)

StandardScaler()

In [28]:
pd.DataFrame(ss.transform(car_hot))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,...,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504
0,0.247413,-0.286987,0.836087,0.123534,0.691488,0.173239,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,-0.091338,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,-0.646153,-0.728425,1.506523,-0.416944,0.416944
1,-0.953519,0.178919,-0.784467,0.769731,-1.329098,0.173239,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,-0.091338,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,1.547621,-0.728425,-0.663780,2.398401,-2.398401
2,-1.074834,1.405102,-0.176759,NaN,0.691488,0.173239,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,-0.091338,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,-0.646153,1.372824,-0.663780,-0.416944,0.416944
3,-0.753548,0.385229,-0.379328,1.415929,-1.329098,-1.551990,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,-0.091338,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,1.547621,-0.728425,-0.663780,2.398401,-2.398401
4,-1.063502,0.088124,0.228379,NaN,0.691488,0.173239,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,-0.091338,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,-0.646153,1.372824,-0.663780,-0.416944,0.416944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3621,-0.975737,-0.134699,-1.189605,0.769731,0.691488,0.173239,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,-0.091338,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,1.547621,-0.728425,-0.663780,-0.416944,0.416944
3622,0.267410,0.949225,0.025810,NaN,-0.318805,0.173239,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,10.948364,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,-0.646153,1.372824,-0.663780,-0.416944,0.416944
3623,-0.398046,1.455755,0.228379,NaN,-0.318805,0.173239,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,-0.091338,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,-0.646153,1.372824,-0.663780,-0.416944,0.416944
3624,-0.976848,2.473627,-0.987036,NaN,0.691488,0.173239,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,-0.091338,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,1.547621,-0.728425,-0.663780,2.398401,-2.398401
3625,-0.841313,0.016197,0.228379,2.708324,0.691488,0.173239,-0.016609,-0.016609,-0.016609,-0.028776,-0.016609,-0.03716,-0.016609,-0.047023,-0.055162,-0.016609,-0.108253,-0.028776,-0.016609,-0.091338,-0.028776,-0.023492,-0.040712,-0.023492,-0.062257,...,-0.052588,-0.028776,-0.148271,-0.016609,-0.04398,-0.016609,-0.052588,-0.03716,-0.033232,-0.023492,-0.03716,-0.016609,-0.028776,-0.016609,-0.016609,-0.517953,0.517953,-0.033232,-0.083322,-0.198157,-0.646153,1.372824,-0.663780,-0.416944,0.416944

In [29]:
rs.fit(car_hot)

RobustScaler()

In [30]:
pd.DataFrame(rs.transform(car_hot))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,...,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504
0,0.526411,-0.212402,0.500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-0.454710,0.185860,-0.500,0.5,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,-1.0
2,-0.553821,1.234013,-0.125,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,-0.291341,0.362215,-0.250,1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,-1.0
4,-0.544563,0.108247,0.125,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3621,-0.472863,-0.082224,-0.750,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3622,0.542748,0.844325,0.000,NaN,-0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3623,-0.000908,1.277312,0.125,NaN,-0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3624,-0.473770,2.147400,-0.625,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,-1.0
3625,-0.363042,0.046763,0.125,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [31]:
mm.fit(car_hot)

MinMaxScaler()

In [32]:
pd.DataFrame(mm.transform(car_hot))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,...,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504
0,0.194030,0.063227,0.862745,0.250,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.032687,0.079798,0.705882,0.375,0.333333,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.016388,0.123412,0.764706,NaN,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.059552,0.087136,0.745098,0.500,0.333333,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.017910,0.076569,0.803922,NaN,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3621,0.029701,0.068643,0.666667,0.375,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3622,0.196716,0.107197,0.784314,NaN,0.666667,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3623,0.107313,0.125213,0.803922,NaN,0.666667,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3624,0.029552,0.161417,0.686275,NaN,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3625,0.047761,0.074011,0.803922,0.750,1.000000,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

# 주성분 분석 (PCA)

In [33]:
from sklearn.decomposition import PCA

In [34]:
pca = PCA()

In [35]:
# pd.DataFrame(pca.fit_transform(car_hot), columns = ['PC1', 'PC2'])

In [36]:
car_hot.isna().sum()

Price                         0
Mileage(miles)                0
Registration_Year             0
Previous Owners            1361
Doors                         7
                           ...
Emission Class_Euro 4         0
Emission Class_Euro 5         0
Emission Class_Euro 6         0
Service history_Full          0
Service history_Unknown       0
Length: 505, dtype: int64

In [37]:
car_hot = car_hot.dropna()

In [38]:
car_hot.isna().sum()

Price                      0
Mileage(miles)             0
Registration_Year          0
Previous Owners            0
Doors                      0
                          ..
Emission Class_Euro 4      0
Emission Class_Euro 5      0
Emission Class_Euro 6      0
Service history_Full       0
Service history_Unknown    0
Length: 505, dtype: int64

In [39]:
pca.fit(car_hot)

PCA()

In [40]:
pd.DataFrame(pca.fit_transform(car_hot))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,...,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504
0,-12782.564813,204.449010,-2.918703,0.769555,-0.467686,-0.154264,-0.805384,0.082939,-0.042751,-0.346804,-0.618361,0.108750,0.297771,0.535951,0.334847,0.704324,-0.242553,-0.086651,-0.254262,-0.012851,0.167739,0.120757,0.009571,0.159666,0.120083,...,1.153623e-16,2.404466e-17,1.032836e-17,4.536438e-17,4.230214e-17,5.079560e-17,-2.146940e-17,6.667432e-18,-2.886112e-17,-1.140253e-17,5.430876e-17,1.177585e-17,-1.546153e-17,1.967399e-17,-6.599690e-18,-3.607781e-18,5.972356e-18,5.315435e-18,1.329503e-17,9.518118e-18,1.449031e-17,2.084229e-18,-1.805982e-18,7.639092e-18,-6.475343e-19
1,5885.083116,-4171.143885,1.114271,0.393797,1.170742,0.452897,0.746919,0.810531,-0.846241,0.159310,-0.688216,-0.108414,-0.659292,-0.485814,-0.192536,0.376471,0.036549,-0.028280,-0.042581,-0.037593,-0.327709,-0.222109,0.566148,-0.389751,-0.012101,...,2.427617e-17,1.502853e-16,2.565436e-17,-4.221651e-17,3.341282e-18,-3.285966e-18,3.568440e-17,1.440055e-17,5.260172e-18,-1.666218e-17,-2.183075e-17,-6.909327e-18,-8.051039e-18,-2.200083e-17,7.788563e-18,-1.798906e-17,-8.462511e-18,-5.307539e-18,-5.804740e-18,6.583216e-18,6.769533e-19,3.373700e-18,5.535293e-18,-4.942974e-18,-2.941022e-18
2,13968.570064,-2820.382436,-0.093095,1.711523,1.578360,0.699534,0.494084,1.088792,-0.496475,-0.701970,-0.302237,0.056207,0.238004,0.557430,-0.318600,0.466218,0.259896,0.126685,-0.058948,-0.060506,-0.023986,0.076310,-0.110877,-0.042792,-0.023513,...,-8.931687e-17,8.662859e-17,-2.936073e-17,-2.888780e-17,4.453434e-17,-3.606950e-17,2.884537e-17,1.017542e-17,6.415439e-18,-2.599185e-17,-1.368500e-17,1.875906e-17,8.737797e-18,-1.022159e-18,7.688526e-18,-1.004463e-17,-1.107706e-17,-1.837165e-17,-1.363586e-17,-2.258498e-18,-3.976086e-18,-7.967541e-19,1.165453e-17,-8.755638e-18,-1.030011e-18
3,41479.760879,-2888.466266,1.153195,-0.713192,1.668304,-0.049803,-0.396554,0.484728,-0.264148,0.253782,0.421380,0.692877,0.369652,-0.115330,-0.199224,-0.167220,0.027939,0.415394,0.493906,-0.119486,0.082906,0.083988,0.021469,0.091019,-0.141125,...,-4.211308e-18,-1.928703e-18,1.186797e-18,3.022171e-19,1.963223e-18,8.726021e-19,-1.137014e-18,4.948556e-19,2.151691e-19,-7.716444e-19,2.968770e-20,2.607477e-19,7.203932e-19,-4.565788e-19,-8.313031e-20,-5.694881e-19,-1.046906e-19,-3.344960e-19,5.239467e-19,1.043383e-19,2.192338e-19,-1.341384e-19,8.428769e-20,3.070620e-19,-1.318427e-19
4,4313.405675,-4454.817974,0.964704,1.318272,-1.056892,-0.252235,-0.932544,0.530521,0.062515,-0.453323,-0.198694,-0.596903,-0.132131,-0.137390,-0.468587,0.053806,-0.007804,0.005523,-0.174681,-0.067833,0.033536,0.138394,0.052468,-0.029484,0.132553,...,2.797930e-17,-6.064439e-18,4.309259e-17,1.562215e-17,-7.417006e-17,7.962744e-17,-1.059094e-17,2.265981e-17,-3.977905e-17,-1.737628e-17,1.963842e-17,2.027262e-17,-2.036263e-17,2.096596e-17,-2.116622e-18,4.473048e-17,3.820385e-17,1.790775e-17,1.532286e-17,-1.910325e-17,1.621365e-17,-2.122176e-17,7.852843e-18,1.024523e-17,-3.621705e-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2244,17212.826355,-2284.486215,5.649654,-1.193801,-1.021511,0.130579,0.288279,-0.470946,-0.215163,-0.004162,1.010699,0.348049,-0.381076,0.269848,0.869271,-0.059016,-0.485276,0.459871,-0.269901,0.050290,-0.049530,0.001196,0.090799,0.109151,0.182680,...,-4.211308e-18,-1.928703e-18,1.186797e-18,3.022171e-19,1.963223e-18,8.726021e-19,-1.137014e-18,4.948556e-19,2.151691e-19,-7.716444e-19,2.968770e-20,2.607477e-19,7.203932e-19,-4.565788e-19,-8.313033e-20,-5.694881e-19,-1.046906e-19,-3.344960e-19,5.239467e-19,1.043383e-19,2.192338e-19,-1.341384e-19,8.428769e-20,3.070620e-19,-1.318427e-19
2245,73238.610463,554.625842,10.762357,-3.012655,1.979427,-0.093369,1.127092,0.503635,-0.079579,-0.374848,0.237016,-0.325614,-0.372126,0.227783,1.088416,0.137033,-0.537434,-0.029959,-0.111858,0.062431,0.016818,-0.050824,-0.011575,0.045674,-0.098748,...,-4.211308e-18,-1.928703e-18,1.186797e-18,3.022171e-19,1.963223e-18,8.726021e-19,-1.137014e-18,4.948556e-19,2.151691e-19,-7.716444e-19,2.968770e-20,2.607477e-19,7.203932e-19,-4.565788e-19,-8.313033e-20,-5.694881e-19,-1.046906e-19,-3.344960e-19,5.239467e-19,1.043383e-19,2.192338e-19,-1.341384e-19,8.428769e-20,3.070620e-19,-1.318427e-19
2246,21265.217903,-3115.834015,-0.169815,-0.555550,-0.519189,0.786457,-0.497061,0.188977,-0.087652,0.016537,0.359390,-0.490504,0.050300,-0.130336,-0.477685,-0.095206,0.207006,0.181521,-0.055856,-0.058717,-0.030129,0.067107,0.003998,-0.055305,-0.002710,...,-3.898755e-17,-2.967356e-17,2.392730e-18,5.576497e-19,-1.460107e-17,5.627095e-17,1.928270e-17,2.571414e-18,-1.336210e-17,2.061445e-17,-1.791260e-17,3.131915e-17,-4.334935e-19,5.678549e-18,-2.583720e-17,-3.112830e-18,1.533613e-17,2.296516e-17,8.426961e-18,-2.009986e-17,7.891579e-19,1.955574e-17,1.126900e-18,1.338909e-18,7.067969e-18
2247,-6473.276362,-4958.315799,3.013217,0.049447,-0.890073,0.698089,-0.468553,0.250938,0.095917,-0.027767,0.210700,-0.556190,0.079185,-0.204672,-0.282081,-0.096936,0.155331,0.152476,-0.040942,-0.051723,-0.037828,0.065334,-0.000738,-0.051349,-0.014407,...,-5.976961e-19,3.983647e-18,1.000451e-17,-1.240917e-18,-2.073434e-18,4.580346e-18,-5.297656e-18,5.252317e-19,-2.579092e-18,-1.694604e-18,-7.828450e-19,-4.254328e-19,-1.145581e-18,1.012966e-19,1.457620e-18,8.490403e-19,9.681420e-19,1.219066e-18,1.837293e-18,-5.143927e-19,1.468718e-21,-1.456829e-18,6.868986e-20,2.265060e-18,-5.788461e-19
2248,-558.042474,-4023.542162,-3.167587,4.070776,-0.498049,0.638379,0.498814,-0.462384,0.186979,0.070987,-0.077549,0.335862,-0.469050,-0.618504,0.114701,0.203498,0.108937,0.021267,-0.027066,-0.040338,-0.207130,-0.026136,0.641397,-0.309021,-0.075098,...,-1.103402e-17,-1.379420e-17,-1.088725e-17,-6.738474e-19,-8.176073e-18,-1.056033e-17,-7.642272e-18,4.350211e-18,1.664145e-18,-9.063433e-18,-5.750990e-19,-2.107754e-19,6.524947e-19,4.363654e-18,1.192208e-18,1.921753e-18,7.127212e-18,5.049143e-18,1.173799e-18,-2.796196e-18,1.338623e-18,-8.201798e-19,5.583661e-19,4.232087e-19,1.093511e-19

In [41]:
pca = PCA(2)

In [42]:
pd.DataFrame(pca.fit_transform(car_hot))

                 0            1
0    -12782.564813   204.449010
1      5885.083116 -4171.143885
2     13968.570064 -2820.382436
3     41479.760879 -2888.466266
4      4313.405675 -4454.817974
...            ...          ...
2244  17212.826355 -2284.486215
2245  73238.610463   554.625842
2246  21265.217903 -3115.834015
2247  -6473.276362 -4958.315799
2248   -558.042474 -4023.542162

[2249 rows x 2 columns]

In [43]:
pd.DataFrame(pca.fit_transform(car_hot), columns=['PC1','PC2'])

               PC1          PC2
0    -12782.564813   204.449010
1      5885.083116 -4171.143885
2     13968.570064 -2820.382436
3     41479.760879 -2888.466266
4      4313.405675 -4454.817974
...            ...          ...
2244  17212.826355 -2284.486215
2245  73238.610463   554.625842
2246  21265.217903 -3115.834015
2247  -6473.276362 -4958.315799
2248   -558.042474 -4023.542162

[2249 rows x 2 columns]

In [44]:
(pca.explained_variance_ratio_).sum()

0.9999999913503992

# 상관관계가 높은 변수들이 있는지 확인해보세요.

In [45]:
car.corr()

,Price,Mileage(miles),Registration_Year,Previous Owners,Doors,Seats
Price,1.000000,-0.501826,0.754720,-0.481859,0.114416,-0.027228
Mileage(miles),-0.501826,1.000000,-0.428500,0.318002,-0.035498,0.096150
Registration_Year,0.754720,-0.428500,1.000000,-0.502282,0.222989,0.036651
Previous Owners,-0.481859,0.318002,-0.502282,1.000000,-0.153262,-0.029338
Doors,0.114416,-0.035498,0.222989,-0.153262,1.000000,0.496923
Seats,-0.027228,0.096150,0.036651,-0.029338,0.496923,1.000000

# 회고

- 이것으로 유의미한 결과를 도출하는 부분을 더 알고 싶었다.